<footer class="footer footer-inverse">
    <div class="container">
        <p class="text-muted">
            &copy; 2016 {{ site.title }} <br/>
            created by illumiphi
        </p>.
    </div>
</footer>
